<div id="breadcrumb">
  <div>Select</div>
  <div>Select disk to replace</div>
  <div>Select disk to add</div>
</div>
<br>
<h4>Select disk to replace</h4>
<div class="poolDiskTableScroll">
    <div id="ph-disks-table"></div>
</div>
